.card-game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 160px;
    background-color: var(--color-card-back);
    border: 4px solid var(--color-black);
}

.card-game > .letra-a {
    width: 130px;
    height: 100px;
}