:root {
    --color-card-back: #4169E1;
    --color-pomb-and-power: #7c5e99;
    --color-floral-white: #fffcee;
    --color-arsenic: #3A4042;
    --color-black: #000000;
    --color-fiery-rose: #f25a70;
}